<div class="px-4 py-8">
    <h1 class="text-xl font-bold">
        خوش اومدی {{gender$ | async | gender}}!
    </h1>

    <p class="mt-8">چی داری الان؟</p>

    <div class="mt-4">
        <ul class="flex gap-2">
            <li *ngFor="let cat of categories$ | async; let i = index;">
                <button (click)="selectCategory(cat)" nz-button [nzType]="(currentCategory$ | async)?.id === i ? 'primary': 'default'">
                    {{cat.label}}
                </button>
            </li>
        </ul>

        <nz-tabset [nzSelectedIndex]="(currentCategory$ | async)?.id">
            <nz-tab *ngFor="let category of categories$ | async">
                <ul>
                    <li *ngFor="let ingred of ingredients$ | async">{{ingred.label}}</li>
                </ul>
            </nz-tab>
        </nz-tabset>
    </div>
</div>